:80 {
	handle_path /health {
		respond "OK" 200
	}

	handle_path /db/* {
		reverse_proxy localhost:5984 {
			flush_interval -1
			header_up Host {upstream_hostport}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle /caldav/* {
		reverse_proxy localhost:5232 {
			header_up X-Script-Name /caldav
			header_up Host {upstream_hostport}
			header_up X-Real-IP {remote_host}
			header_up X-Forwarded-For {remote_host}
			header_up X-Forwarded-Proto {scheme}
		}
	}

	handle /* {
		respond "EverStone Server" 200
	}
}
